*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
}

#web{
    background: hsla(167, 68%, 73%, 1);
    background: linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8de9d5", endColorstr="#32c4c0", GradientType=1 );
}

#select{
    /* background-color: #333; */
    height: 100vh;
}

#select img{
    /* height: 1000px; */
    width: 100%;
    height: 100vh;
}

#NG{
    /* background-color: #6dd674; */
    height: 100vh;
}

#BBJ{
    background-color: #7e59c7;
    height: 100vh;
}

#buying-form{
    background-color: #264e4a;
    height: 100vh; 
}

#copyright{
    height: 5vh;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 600px) {
    #copyright{
        height: 10vh;
    }

}