*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#web{
    /* background: hsla(167, 68%, 73%, 1);
    background: linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8de9d5", endColorstr="#32c4c0", GradientType=1 );
     */
    background-color: rgb(255, 255, 255);
}

#select{
    height: 100%;
}

#select img{
    width: 100%;
    height: 100%;
}

#NG{
    /* background-color: #6dd674; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NG-content{
    background-color: rgb(243, 243, 243);
    height: 90vh;
    width: 100%;
    display: grid;
    /* place-content: center; */
}

.main-content{
    margin-left: 5vh;
    margin-right: 5vh;
}

.main-content-left{
    width: 40%;
    height: 100%;
    float: left;
    /* border: solid black 1px; */
    display: grid;
    align-items: center;
}

.main-content-left img{
    width: 100%;
    border-radius: 15%;
}

.main-content-right{
    width: 60%;
    height: 100%;
    float: right;
    /* border: solid black 1px; */

}

.uwu{
    margin-top: 11.5vh;
    margin-bottom: 11.5vh;
    margin-left: 1vw;
}

.watch-video{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid black 1px;
    border-radius: 0%;
    float: right;
}



#buying-form{
    height: 100vh; 
}

@media screen and (max-width: 600px) {
    #copyright{
        height: 10vh;
    }

}

/* FILM */
#film-okno {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  #film-okno video {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
  }

/* scroll efect */
main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.scroll{
    scroll-snap-align: start;
}

/* romanian */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #408dc4;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #5ca0d0;
  }
